#   Noor Haj Dawood - 314997602
#   Bader Daka - 208219212

In [ ]:
!pip install pandas
!pip install numpy

import pandas as pd
import numpy as np

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.19.5)

In [ ]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving mobile_price_1.csv to mobile_price_1.csv
User uploaded file "mobile_price_1.csv" with length 180297 bytes

***Task 1***

**1. Load the data into a Pandas Dataframe.**

In [ ]:
mobiles = pd.read_csv('mobile_price_1.csv', index_col='id')
mobiles.head()

    battery_power  m_dep  mobile_wt  px_height  ...  memory  screen  wifi    price
id                                              ...
0             842    0.6        188         20  ...    7568     LCD     g   751.64
1            1021    0.7        136        905  ...   53759   Touch  none   885.17
2             563    0.9        145       1263  ...   41140   Touch  none  1067.78
3             615    0.8        131       1216  ...   10558     LCD  none   819.22
4            1821    0.6        141       1208  ...   44436   Touch  none  1023.13

[5 rows x 20 columns]

**2. Which of the categorical features are nominal and which are ordinal?**

**Answer**

Nominal categorical features:


*   bluetooth
*   screen
*   wifi


Ordinal categorical features:


*   gen
*   cores
*   speed
*   sim

**3. Add a column that holds the total screen resolution for each device. Name it resolution.**

In [ ]:
resolution = mobiles["px_height"] * mobiles["px_width"]
mobiles["resolution"] = resolution
mobiles.head()

    battery_power  m_dep  mobile_wt  ...  wifi    price  resolution
id                                   ...
0             842    0.6        188  ...     g   751.64       15120
1            1021    0.7        136  ...  none   885.17     1799140
2             563    0.9        145  ...  none  1067.78     2167308
3             615    0.8        131  ...  none   819.22     2171776
4            1821    0.6        141  ...  none  1023.13     1464096

[5 rows x 21 columns]

a function that replaces inf / -inf values with NaN (incase of zero divison)

In [ ]:
def infToNan(x_df, colmn_name):
  """ replace inf or -inf values in a certain column to NaN """
  x_df.loc[~np.isfinite(mobiles[colmn_name]), colmn_name] = np.nan

**4. Add a column that holds the DPI (dots per inch) of the screen width and name it DPI_w.**

In [ ]:
DPI_w = mobiles['px_width']/(mobiles['sc_w']/2.54)
mobiles["DPI_w"] = DPI_w
infToNan(mobiles, 'DPI_w')
mobiles.head()

    battery_power  m_dep  mobile_wt  ...    price  resolution        DPI_w
id                                   ...
0             842    0.6        188  ...   751.64       15120   274.320000
1            1021    0.7        136  ...   885.17     1799140  1683.173333
2             563    0.9        145  ...  1067.78     2167308  2179.320000
3             615    0.8        131  ...   819.22     2171776   567.055000
4            1821    0.6        141  ...  1023.13     1464096  1539.240000

[5 rows x 22 columns]

**5. Add a column that holds the ratio battery_power/talk_time and name it call_ratio.**

In [ ]:
call_ratio = mobiles["battery_power"].div(mobiles["talk_time"])
mobiles["call_ratio"] = call_ratio
infToNan(mobiles, 'call_ratio')
mobiles.head()

    battery_power  m_dep  mobile_wt  ...  resolution        DPI_w  call_ratio
id                                   ...
0             842    0.6        188  ...       15120   274.320000   44.315789
1            1021    0.7        136  ...     1799140  1683.173333  145.857143
2             563    0.9        145  ...     2167308  2179.320000   62.555556
3             615    0.8        131  ...     2171776   567.055000   55.909091
4            1821    0.6        141  ...     1464096  1539.240000  121.400000

[5 rows x 23 columns]

**6. Change the memory column to hold the memory in GB instead of MB.**

In [ ]:
memory = mobiles['memory']/1024
mobiles['memory']=memory
mobiles['memory']

id
0        7.390625
1       52.499023
2       40.175781
3       10.310547
4       43.394531
          ...
1995     2.587891
1996    38.645508
1997    35.845703
1998    45.134766
1999    44.659180
Name: memory, Length: 2000, dtype: float64

**7. Include the output of the `describe()` function of the dataframe.**

In [ ]:
mobiles.describe()

       battery_power        m_dep  ...        DPI_w   call_ratio
count    2000.000000  2000.000000  ...  1820.000000  2000.000000
mean     1238.518500     0.501750  ...   931.176483   166.672629
std       439.418206     0.288416  ...   992.678413   156.664965
min       501.000000     0.100000  ...    81.280000    25.100000
25%       851.750000     0.200000  ...   319.532000    75.737500
50%      1226.000000     0.500000  ...   536.857222   111.369318
75%      1615.250000     0.800000  ...  1120.563333   186.193750
max      1998.000000     1.000000  ...  5057.140000   989.500000

[8 rows x 17 columns]

**8. Convert the following features into categorical series in the Dataframe: speed,screen,cores**

In [ ]:
speeds = ['low', 'medium', 'high']
mobiles['speed'] = pd.Categorical(mobiles['speed'], categories=speeds, ordered=True)

screens = ['Touch', 'LCD']
mobiles['screen'] = pd.Categorical(mobiles['screen'], categories=screens, ordered=False)

cores=['single', 'dual', 'triple', 'quad', 'penta', 'hexa', 'hepta', 'octa']
mobiles['cores'] = pd.Categorical(mobiles['cores'], categories=cores, ordered=True)

mobiles.dtypes

battery_power       int64
m_dep             float64
mobile_wt           int64
px_height           int64
px_width            int64
ram                 int64
sc_h                int64
sc_w                int64
talk_time           int64
bluetooth          object
gen                 int64
cores            category
speed            category
sim                object
f_camera          float64
camera            float64
memory            float64
screen           category
wifi               object
price             float64
resolution          int64
DPI_w             float64
call_ratio        float64
dtype: object

***Task 2***

**1. How many phones do not have a camera at all (front or back)?**

In [ ]:
len(mobiles[mobiles["f_camera"].isna() & mobiles["camera"].isna()])

101

**2. What is the average battery power for single-sim phones that have a camera or front camera
with a higher resolution than 12 megapixels?**

In [ ]:
average_power = mobiles[(mobiles['sim'] == 'Single') & (mobiles['camera'].notna() | (mobiles['f_camera']>12))]
average_power["battery_power"].mean()

1256.5091693635384

**3. What is the ID and price of the most expensive phone that has no wifi, a touch screen and
weighs more than 145 grams?**

In [ ]:
exp_price = mobiles[(mobiles['wifi'] == 'none') & (mobiles['screen']=='Touch') & (mobiles['mobile_wt']>145)]
exp_price = exp_price.sort_values(['price'], ascending=False)
exp_price[['price']].head(1)

       price
id
770  1533.85

**4. Create a pivot table that shows the percentage of phones with Bluetooth per generation,
pivoted around the phone generation and split by “ram” quartiles. (i.e. the rows are the
generation number and the columns are 4 quartiles of ram size).**

In [26]:
mobiles['bluetooth01'] = mobiles['bluetooth'].map({'Yes': 1, 'No': 0})
ram = pd.qcut(mobiles['ram'], 4)
mobiles.pivot_table('bluetooth01', ['gen'], [ram])

ram  (255.999, 1207.5]  (1207.5, 2146.5]  (2146.5, 3064.5]  (3064.5, 3998.0]
gen
2             0.496063          0.529915          0.512605          0.552632
3             0.469565          0.500000          0.409091          0.443478
4             0.476744          0.486792          0.502008          0.538745

**5. Create a new Dataframe based on the original that has the following features: [id,
battery_power, ram, talk_time, Bluetooth, cores, sim, memory, price], and contains a random
sampling of half of the medium speed phones**

In [ ]:
df = mobiles[mobiles['speed'] == 'medium'].sample(frac = 0.5).copy()
df.insert(0, 'id', df.index)
df.reset_index(drop=True, inplace=True)
df.index.name = '#'
df = df[['id', 'battery_power', 'ram', 'talk_time', 'bluetooth', 'cores', 'sim', 'memory', 'price']]
df

       id  battery_power   ram  talk_time  ...   cores     sim     memory    price
#                                          ...
0     983           1175  1944          9  ...   hepta  Single  18.832031   646.43
1    1659            770  3473          4  ...    quad    Dual  60.309570   774.61
2    1154            987  1454          8  ...   hepta    Dual  20.148438   700.42
3     311           1707  1774         10  ...   hepta  Single  40.775391   702.03
4    1871           1961  2355          6  ...   hepta  Single  53.968750  1129.03
..    ...            ...   ...        ...  ...     ...     ...        ...      ...
414   901            783  1185          6  ...    hexa    Dual  27.102539   763.54
415  1887           1719  2610         11  ...  triple    Dual  51.178711  1080.64
416  1422           1109  2821         17  ...  single  Single  33.730469   820.09
417  1753            995   609          5  ...    quad    Dual  10.489258   545.52
418   247           1273  1767         11  ...    quad  Single  47.520508  1055.64

[419 rows x 9 columns]

**6. Using this new dataset, what is the maximum total talk time you can achieve if you use 3
phones, and which 3 phones will you use?**

In [ ]:
print(df.sort_values(['talk_time'], ascending=False)['talk_time'].head(3).sum())
print(df[['id', 'talk_time']].sort_values(['talk_time'], ascending=False).head(3))

60
       id  talk_time
#
240   416         20
72   1674         20
222  1823         20